@import url('/assets/font/css/animation.css');
@import url('/assets/font/css/fontello-codes.css');
@import url('/assets/font/css/fontello-embedded.css');
@import url('/assets/font/css/fontello-ie7-codes.css');
@import url('/assets/font/css/fontello-ie7.css');
@import url('/assets/font/css/fontello.css');

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
