//Global Background stuff

$background-color-edit-mode: #001e35;
$background-color-edit-mode-thick-lines: rgba(255, 255, 255, 0.05);
$background-color-edit-mode-thin-lines: rgba(255, 255, 255, 0.04);

$background-color-standard-mode: linear-gradient(to bottom, #2b2b2b 0%,#161616 66%);

// Font Stuff

$font-size-xxs: 0.25em;
$font-size-xs:  0.50em;
$font-size-sm:  0.75em;
$font-size-md:  1.00em;
$font-size-lg:  1.25em;
$font-size-xl:  1.50em;
$font-size-xxl: 1.75em;

// Maybe Margins? / Paddings? / Grids?



// Headlines

h1 {
    font-size: $font-size-xxl;
    font-weight: bold;
}

h2 {
    font-size: $font-size-xl;
}

h3 {
    font-size: $font-size-lg;
}

// infoBox -> Info Box

$info-box-bg-color: #fff;

$info-box-border-radius: 25px;

$info-box-border-color: $info-box-bg-color;

